h5py==2.7.1
imgaug==0.2.5
jedi==0.11.0
joblib==0.11
Keras==2.0.9
numpy==1.13.3
Pillow==3.1.2
PyQt5==5.9
pytest==3.2.3
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==1.0.0
tensorflow==1.4.0rc0
tensorflow-tensorboard==0.4.0rc1
tesserocr==2.2.2